@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Set all elements to use the Open Sans font */
body, input, textarea, button, select {
  color: #333; /* Darker text color */
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

/* Set the background color of all pages */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.page-wrapper {
  min-height: 100vh;
  background-image: url('https://www.southernoutdoordesign.com/wp-content/uploads/2023/08/Atlanta-porch-deck-design-installation_1-scaled.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

.page-wrapper::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Lighter overlay */
  z-index: -1;
}

/* Set the style of the navigation list */
header {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  /* -webkit-backdrop-filter: blur(10px); For Safari */
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}

header nav ul {
  background-color: transparent;
  border-bottom: 1px solid rgba(204, 204, 204, 0.3);
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

/* Set the spacing and layout of the nav list items */
header nav ul li {
  margin: 0 1em;
  padding: 1em 0;
}

/* Set the style of the links in the nav */
header nav ul li a {
  color: #fff; /* White text for better visibility */
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

header nav ul li a:hover {
  color: #007bff; /* Your button color */
}

/* Style for the search form */
.search-form {
  display: flex;
  align-items: center;
}

.search-form input[type="text"] {
  margin-right: 10px;
  padding: 5px;
}

.search-form button {
  padding: 5px 10px;
}

/* Make the input tags look nicer */
input {
  height: 1.5em;
  margin: 0;
  padding: .25em .5em;
}

/* Make the select boxes look nicer */
select {
  height: 2.5em;
}

/* Make the select-multiple boxes look nicer */
select[multiple] {
  height: 7.5em;
}

/* Make the textarea inputs look nicer */
textarea {
  margin: 0;
  padding: .25em .5em;
}

/* Set the width on all tables */
table {
  width: 100%;
  border-collapse: collapse;
}

/* Set the size of the help text in forms */
.helptext {
  display: block;
  font-size: 80%;
}

/* Make the login and sign-up forms look nicer */
.login-form,
.signup-form {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: auto;
  max-width: 400px;
  padding: 2em;
}

/* Make the task and projects forms look nicer */
.task-form,
.project-form {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: auto;
  max-width: 600px;
  padding: 2em;
}

/* Make all of the headers the same */
.task-form h1,
.login-form h1,
.signup-form h1,
.project-list h1,
.project-form h1,
.project-detail h1 {
  margin-top: 0;
  margin-bottom: 20px;
}

/* Add spacing to the section of the project detail */
.project-detail h2 {
  margin-top: 2em;
}

/* Standardize form layout using grid */
.task-form p,
.login-form p,
.signup-form p,
.project-form p {
  display: grid;
  align-items: center;
  column-gap: 10px;
  grid-template-columns: 100px 1fr;
}

/* Standardize help text positions in the grid */
.task-form p .helptext,
.login-form p .helptext,
.signup-form p .helptext,
.project-form p .helptext {
  grid-column-start: 2;
  grid-column-end: 3;
}

/* Make the buttons a little larger */
.task-form button,
.my-tasks-list button,
.login-form button,
.signup-form button,
.project-form button {
  padding: 0.25em 1em;
}

/* Add a nice box around the lists and details */
.my-tasks-list,
.project-list,
.project-detail {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: auto;
  max-width: 800px;
  padding: 2em;
}

/* Add padding to the table header and table datum tags */
.my-tasks-list th,
.my-tasks-list td,
.project-list th,
.project-list td,
.project-detail th,
.project-detail td {
  padding: .5em;
}

/* Add a bottom border to the table header tags */
.my-tasks-list thead tr th,
.project-list thead tr th,
.project-detail thead tr th {
  border-bottom: 2px solid #DEDEDE;
}

/* Center align the text on specific table header cells */
.my-tasks-list tbody td:nth-child(2),
.my-tasks-list tbody td:nth-child(3),
.my-tasks-list tbody td:nth-child(4),
.project-list tbody tr td,
.project-detail tbody td:nth-child(2),
.project-detail tbody td:nth-child(3),
.project-detail tbody td:nth-child(4),
.project-detail tbody td:nth-child(5) {
  text-align: center;
}

/* Add horizontal rules to all rows except the last */
.my-tasks-list tbody :not(tr:last-child) td,
.project-list tbody :not(tr:last-child) td,
.project-detail tbody :not(tr:last-child) td {
  border-bottom: 1px solid #DEDEDE;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

.container {
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.0); /* More transparent white background */
  padding: 20px;
  border-radius: 10px;
  /* backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); For Safari */
  min-height: 100vh;
}

th, td {
  padding: 8px;
  /* text-align: left; */
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
  color: #000; /* Black color for headings */
}

.profile {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: auto;
  max-width: 600px;
  padding: 2em;
}

.profile h1, .profile h2 {
  margin-top: 0;
}

.profile ul {
  list-style-type: none;
  padding: 0;
}

.profile li {
  margin-bottom: 10px;
}

.login-form,
.signup-form,
.task-form,
.project-form,
.my-tasks-list,
.project-list,
.project-detail,
.profile {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.task-notes-form {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: auto;
  max-width: 600px;
  padding: 2em;
}

.task-notes-form textarea {
  width: 100%;
  min-height: 100px;
}
