{% extends 'base.html' %}

{% block title %}User Profile{% endblock %}
{% block content %}
    <div class="profile">
        <h1>User Profile</h1>
        <p>Username: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
        <h2>Projects</h2>
        {% if projects %}
            <ul>
                {% for project in projects %}<li>{{ project.name }}</li>{% endfor %}
            </ul>
        {% else %}
            <p>You are not assigned to any projects.</p>
        {% endif %}
    </div>
{% endblock %}
