{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}{% endblock %}
        </title>
        <link rel="stylesheet" href="{% static "css/app.css" %}">
    </head>
    <body>
        <div class="page-wrapper">
            <header>
                <nav>
                    <ul>
                        {% if user.is_authenticated %}
                            <li>
                                <a href="{% url "show_my_tasks" %}">My Tasks</a>
                            </li>
                            <li>
                                <a href="{% url "create_task" %}">Create Tasks</a>
                            </li>
                            <li>
                                <a href="{% url "list_projects" %}">My Projects</a>
                            </li>
                            <li>
                                <a href="{% url "create_project" %}">Create Project</a>
                            </li>
                            <li>
                                <a href="{% url "profile" %}">Profile</a>
                            </li>
                            <li>
                                <a href="{% url "logout" %}">Logout</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{% url "login" %}">Login</a>
                            </li>
                            <li>
                                <a href="{% url "signup" %}">Signup</a>
                            </li>
                        {% endif %}
                    </ul>
                    <!-- Add the search form here -->
                    <form method="GET" action="{% url 'list_projects' %}">
                        <input type="text" name="search" placeholder="Search projects...">
                        <button type="submit">Search</button>
                    </form>
                </nav>
            </header>
            <div class="container">
                <main>
                    {% block content %}{% endblock %}
                </main>
            </div>
        </div>
    </body>
</html>
