{% extends 'base.html' %}

{% block title %}Add Notes to Task{% endblock %}

{% block content %}
<div class="task-notes-form">
    <h1>Add Notes to Task: {{ task.name }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save Notes</button>
    </form>
</div>
{% endblock %}
