{% extends 'base.html' %}

{% block title %}My Tasks{% endblock %}
{% block content %}
    <div class="my-tasks-list">
        <h1>My Tasks</h1>
        {% if tasks %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                        <th>Notes</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                        <tr>
                            <td>{{ task.name }}</td>
                            <td>{{ task.start_date }}</td>
                            <td>{{ task.due_date }}</td>
                            <td>{{ task.is_completed|yesno }}</td>
                            <td>
                                {% if task.notes %}
                                    {{ task.notes|truncatechars:50 }}
                                {% else %}
                                    No notes
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'add_task_notes' task.id %}">Add/Edit Notes</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>You have no tasks</p>
        {% endif %}
    </div>
{% endblock %}
