{% extends 'base.html' %}

{% block title %}My Projects{% endblock %}
{% block content %}
    <div class="project-list">
        <h1>My Projects</h1>

        {% if search_query %}
            <p>Search results for "{{ search_query }}"</p>
        {% endif %}

        <a href="{% url 'create_project' %}">Create a new project</a>

        {% if projects %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in projects %}
                        <tr>
                            <td>
                                <a href="{% url 'show_project' project.id %}">{{ project.name }}</a>
                            </td>
                            <td>{{ project.tasks.all|length }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No projects found</p>
        {% endif %}
    </div>
{% endblock %}
