<!-- project_timeline.html -->
<!DOCTYPE html>
<html>
<head>
    <title>{{ project.name }} - Timeline</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1>Timeline for {{ project.name }}</h1>
    <canvas id="ganttChart" width="800" height="400"></canvas>

    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const ctx = document.getElementById('ganttChart').getContext('2d');
            const timelineData = JSON.parse('{{ timeline_data|escapejs }}');

            const labels = timelineData.map(task => task.label);
            const startDates = timelineData.map(task => new Date(task.start).getTime());
            const endDates = timelineData.map(task => new Date(task.end).getTime());
            const durations = endDates.map((end, i) => (end - startDates[i]) / (1000 * 60 * 60 * 24)); // durations in days

            const data = {
                labels: labels,
                datasets: [{
                    label: 'Task Duration',
                    data: durations,
                    backgroundColor: 'rgba(0, 123, 255, 0.5)',
                    borderColor: 'rgba(0, 123, 255, 1)',
                    borderWidth: 1,
                }]
            };

            const options = {
                indexAxis: 'y',
                scales: {
                    x: {
                        type: 'linear',
                        position: 'bottom',
                        title: {
                            display: true,
                            text: 'Days'
                        }
                    }
                }
            };

            const ganttChart = new Chart(ctx, {
                type: 'bar',
                data: data,
                options: options
            });
        });
    </script>
</body>
</html>
